[submodule "bundle/jellybeans"]
	path = bundle/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/gist"]
	path = bundle/gist
	url = https://github.com/mattn/gist-vim.git
[submodule "bundle/webapi-vim"]
	path = bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/indent-guides"]
	path = bundle/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/cd-hook"]
	path = bundle/cd-hook
	url = https://github.com/richo/cd-hook.git
[submodule "bundle/richo-vim"]
	path = bundle/richo-vim
	url = https://github.com/richo/richo-vim.git
[submodule "bundle/dispatch"]
	path = bundle/dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "bundle/clojure-static"]
	path = bundle/clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule "bundle/vim-SystemVerilog"]
	path = bundle/vim-SystemVerilog
	url = https://github.com/WeiChungWu/vim-SystemVerilog.git
[submodule "bundle/puppet-syntax-vim"]
	path = bundle/puppet-syntax-vim
	url = https://github.com/puppetlabs/puppet-syntax-vim.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "bundle/llvm.vim"]
	path = bundle/llvm.vim
	url = https://github.com/Superbil/llvm.vim.git
[submodule "bundle/vim-toml"]
	path = bundle/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "bundle/vim-rhubarb"]
	path = bundle/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "bundle/racer"]
	path = bundle/racer
	url = https://github.com/racer-rust/vim-racer.git
[submodule "bundle/tmux"]
	path = bundle/tmux
	url = https://github.com/tmux-plugins/vim-tmux.git
